<footer role="contentinfo">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());
          gtag('config', '{{ .Site.GoogleAnalytics }}');
    </script>
    <!-- END GOOGLE ANALYTICS -->


{{ partial "foot_custom.html" . }}
<hr/>
<a href="#">back to top</a> -
<a href="mailto:rahul.sangole@gmail.com?subject=Hello">email</a> -
<a href="https://github.com/rsangole">github</a> -
&copy; rahul sangole
</footer>
</div>
</body>
</html>
