{{ partial "header.html" . }}

{{ .Content }}

<main>
<article>

<style>
main ul { list-style:none; margin:0; padding: 0;}
main li { padding-left: 5.5em; }
main ul span { color:slategray;width:5.5em;margin-left:-5.5em;display:inline-block;}
</style>

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  
  {{ if .IsHome }}
    <i>Latest posts...</i><br>
    {{ range first 6 (where $pages "Section" "!=" "") }}
    <li>
      <span>{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
    ...
  {{ else }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span>{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  {{ end }}
  
</ul>

</article>
</main>

{{ partial "footer.html" . }}
