html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 870px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    margin: 25vh 0;
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
    text-decoration: underline;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

.link_noUL a {
    text-decoration:none !important;;
}

.toc_noUL a {
    text-decoration:none !important;
}


/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
    text-decoration: none;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--line_accent);
}

.link_noUL_navbar a {
    text-decoration:none;
}

footer {
    border-bottom: var(--border-width) solid var(--line_accent);
}

img {
    max-width: 100%;
}

code { background: #f9f9f9;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #eee;
  padding: 0em;
  overflow-x: auto;
  text-align: left;
}
pre code { background: none; }

/* Set colour for function parameters */
.hljs-fun-param {
    color: #ff4000;
    font-weight: bold;

}

/* Make the pipe and assign operator bold */
.hljs-pipe, .hljs-assign {
    font-weight: bold;
}