* {
    box-sizing: border-box
}

html {
    font: 16px / normal -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #222;
    -webkit-font-smoothing: antialiased
}

body {
    margin: 0 auto;
    padding: 2rem
}

.container {
    max-width: 40rem;
    margin: 0 auto
}

h1, h2, h3, h4 {
    font-weight: 600
}

a {
    color: blue
}

hr {
    border: none;
    border-top: 1px dashed #77a1d8;
    margin: 2.5rem auto;
    max-width: 50rem
}

small, time {
    color: slategray
}

body a.logo {
    color: black;
    text-decoration: none;
}

body a.logo h1 {
    margin-bottom: 0rem
}

body h3 a {
    color: black;
    text-decoration: none;
}

#read-this-first {
    margin-bottom: -1rem;
}

body nav {
    margin-bottom: 2rem
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

nav ul li {
    display: inline-block;
    margin-right: 0.5em
}

footer {
    margin-top: 3rem
}

header time {
    display: block;
    margin: -1rem 0 1rem
}

pre {
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, Courier, monospace;
    font-size: 14px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    background: #f9f9f9 /*#f8f8f8*/;
    color: #000;
    /*padding: 1em;*/
    overflow-x: auto;
}

code {
    background: #f9f9f9;
}


img, iframe, video {
    max-width: 100%;
}

main {
    hyphens: auto;
}

blockquote {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0px 1em 0px;
    margin-left: 0.5em;
    margin-right: 1em;
  }

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
table thead th {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
    background: #eee
}
